
div.zagolovok 
{
	color: black;
	text-align: right;
	text-shadow: 1px 1px 2px black, 0 0 1em grey;
	font-size: 17pt;
}
body
{
	background-image: url('book.jpg');
	background-attachment: fixed;
	
}
img.image_left, img.image_right {
    float: left; 
    padding-left: 10px; 
    padding-bottom: 10px; 
    width :400px; 
    height:300px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.8); 
    padding: 8px;
    border-radius: 10px;
}
p { 
    text-indent: 1em; 
    text-align: justify;
    font-family: 'Garamond', serif; 
    font-weight: normal;
    font-size: 17pt;
}
img.image_right{
	float:right;
}
#glava7, #glava8, #zag{
	font-family: 'Garamond', serif;
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 1em grey;
}
#hype8, #hype7 a{
    display: block; 
    padding: 2px; 
    font-family: 'Zapf Chancery', cursive;
    text-decoration: none;
    color: #00008B;
    margin-left:40%; 
    margin-right:40%;

} 
#glavnaya a{
    display: block; 
    padding: 2px; 
    margin: 1px; 
    font-family: 'Zapf Chancery', cursive;
    text-decoration: none;
    color: #00008B;
}
#glavnaya a:hover { 
    border: 2px dotted blue; 
    margin: 0; 
    text-align: center;

}



